/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Open Sans
    ----------------------------------------
    Colors:
        Moon Yellow:         #f4c613
        Grey:                #212226
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
        blauw:               #4D8CC4 
        donker grijs:        #2C2B2B
        licht grijs:         #E1E1E1
============================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #2C2B2B;
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 100%;
}

/* =========================================
                Landing page
============================================ */
header{
    height:700px;
}
#img_landP {
    width: 604px;
    height: 445px;
    position: absolute;
    top:30%;
    left: 50%;
    opacity: 0;
    animation: anim0 1s forwards 2s;
    overflow: hidden;
}
@keyframes anim0 {
    from {
        left: 100%;
        opacity: 0;
    }

    to {
        bottom: 50%;
        opacity: 1;
    }
}
#img_landP:after {
    content: '';
    position: absolute;
    width: 604px;
    height: 592px;
    background-image: url("img/robots.png");
    left: 0px;
    z-index: -1;
    background-repeat: no-repeat;
    
}

/*keyframes*/
@keyframes anim {
    from {
        bottom: -100%;
    }

    to {
        bottom: 0%;
    }
}

@keyframes anim2 {
    from {
        left: 30%;
        width: 604px;
    }

    to {
        width: 0px;
        left: 50%;
    }
}

#TITEL {
    width: auto;
    height: auto;
    font-family: 'Impact';
    color: white;
    font-size: 5rem;
    font-weight: 600;
    position: absolute;
    top: 40%;
    left: 15%;
    overflow: hidden;
}

#text {
    position: relative;
    left: -100%;
    animation: anim3 1s forwards 2s;
}

@keyframes anim3 {
    from {
        left: -100%;
    }

    to {
        left: 0%;
    }
}

/* =========================================
                Navigation
============================================ */
#nav_animation {
    width: 100%;
    position: fixed;
    top: -100%;
    animation: anim4 2s forwards 1s;
    background-color: white;
    z-index:99;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:70px;
    transition: .5s ease;
}

#box3 {
    display:flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    
}


#logo {
    width:25%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: 50%;
}


#menu {
    display: flex;
    justify-content: center;
    margin-right: 5%;
     transition: .5s ease
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline-block;
    padding-left: 50px;
    padding-top: 10px;
    position:relative;
    overflow: hidden;
}

.menu_knop {
    font-family: 'Arial';
    font-size: 1em;
    color: #2C2B2B;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 8px; 
    font-weight: 600;
    transition:.3s ease all;
    z-index:90;
   
}
  
.menu_knop:hover {
    color: #529cdd;
    padding: 8px;
    letter-spacing: 2px; 
    font-weight: 600;
    text-decoration: none;
   
}
.menu_knop:hover:before{
    width:100%;
}

@keyframes anim4 {
    from {
        top: -100%;
    }

    to {
        top: 0%;
    }
}

/*hamburger-menu*/
.cross{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor:pointer;
    display:none;
    transition:.4s ease-in;
    padding:0px 5px;
    width: 50px;
    height: 50px;
   
}
.cross>h2{
    overflow: hidden;
    transform: rotate(45deg);
}
.cross:hover.cross>h2{
    color:rgb(243, 18, 18);
}
.hamburger-menu{
    position:absolute;
    top:0px;
    right:10%;
    cursor: pointer;
    display: none;
}

/* =========================================
                Knop
============================================ */

#knop {
    background-color: #4D8CC4;
    /* blauw */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration-line: none;
    display: inline-block;
    font-size: 19px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}


/* =========================================
                preloader
============================================ */

#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("img/preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
}


/* =========================================
                main
============================================ */
/*robot*/
.img_uitleg_titel {
    width: 30%;
}



.robot_uitleg {
    color: white;
    display: block;
    padding-top: 20%;
    padding-bottom: 10%;
    margin: auto;
    width: 50%;
    height: auto;

}

.img_main_robot {
    width: 100%;
}

/*titels*/
h4 {
    color: #959595;

}

h2 {
    color: white;
    text-align: center;
    margin-bottom: 5%;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

/*about*/
.about {
    width: 100%;
    height: 500px;
    background-color: white;
    padding-top: 4.5%;
    padding-left: 5%;
    padding-right: 10%;
    font-size: 15px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 0 rgba(225, 225, 225, 1);

}

.about p {
    font-size: 20px;
}

.about_foto {
    width: 70%;
    border: solid;
    border-color: #4D8CC4;
    border-width: thick;
}

/*Foto album*/
.iframe-container {
    position: relative;
    overflow: hidden;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#foto-album {
    margin-top: 30%;
    margin-bottom: 30%;
}

.mySlides {
    display: none;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.mySlides img {
    width: 100%;
    height: auto;
}

.slideshow-container {
    overflow: hidden;
    position: relative;
    margin: auto;
    width: 55%;
    height: 50%;
}
.mySlides {
    overflow:hidden;
}

.slide-prev,
.slide-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.slide-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slide-prev:hover,
.slide-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slide-number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}



/************CSS Animation***********/

.animated {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*typoanimation*/

#typoanimatie {
    background-color: white;
    width: 100%;
    height: 400px;
    padding: 2%;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 0 rgba(225, 225, 225, 1);
}

/*video*/
#video {
    background-color: white;
    width: 100%;
    height: 400px;
    padding: 2%;
    margin-top: 10%;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 0 rgba(225, 225, 225, 1);
}

/*CONTACT*/

#contact-right {
    padding: 25px 30px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 0 rgba(225, 225, 225, 1);
    border-radius: 4px;
    margin-bottom: 10%;
    margin-top: 20%;
}

#contact-right h4 {
    font-size: 24px;
}

#contact-right p {
    margin-bottom: 25px;
}

#contact-right form .form-control {
    font-family: "Open Sans", sans-serif;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 24px;
}

#contact-right form textarea.form-control {
    min-height: 164px;
}
/* =========================================
                FOOTER
============================================ */
#socials{
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin-bottom: 5%;
}

footer {
    background: #212226;
    padding: 30px;
}

footer p {
    color: #fff;
    line-height: 20px;
    margin: 0;
}

footer p span {
    color: #4D8CC4;
}


/* =========================================
                CSS animation
============================================ */

/*scroll reveal*/
.reveal {
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

/* =========================================
                Media Quary
============================================ */
@media (max-width: 992px) {
    .about_foto {
        width: 50%;
        
    }
    
    #typoanimatie{
        height:535px;
    }
    #video{
        height:500px
    }
    #img_landP{
        left:55%;
        top:30%;
    }
    #img_landP:after{
        height:300px;
        width:300px;
        background-size: cover;
    }

}

@media (max-width: 855px){
    #img_landP{
        left:50%
    }
    #text{
        font-size:2.9rem
    }
}

@media (max-width: 760px){
    #text{
        font-size:2.8rem
    }
    #img_landP{
        left:45%
    }
    #menu{
        display:block;
        width:200px;
        height:200px;
        position:absolute;
        right:-100%;
        top:0%;
        background:#fff;
        transition: 1s ease all;
        z-index: 10;
    }
    #menu ul li a{
        color:#000;
    }
    #menu ul {
        height:100%;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #menu ul li {
        display: block;
        padding:5px;
        position:relative;
        margin-left: 0px;
    }
    #menu ul li a{
        position:relative;
    }
    #nav_animation{
        display:block;
        position:fixed;
    }
    #logo{
        height:100%;
    }

    
    .cross{
        display:block;
    }
    .hamburger-menu{
        display: block;
    }

}

@media (max-width:640px){
    #text{
        font-size:2.5rem
    }
    #img_landP{
        left:45%;
        top:35%;
    }
}


@media (max-width:576px){
    #TITEL{
        left:5%;
    }
    #img_landP::after {
        height: 210px;
        width: 219px;
        margin-left: 21px;
    }
}
@media (max-width:455px){
    #img_landP::after {
        height: 183px;
        width: 180px;
        margin-left: 26px;
    }
}
@media (max-width:386px){
    #text{
        font-size:2rem
    }
    #img_landP{
        left:40%
    }
}
